<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    DENEME
    <form method="POST" class="register-form" action="/api/signUp" id="register-form">
        <div class="form-group">
            <input type="text" name="subsc_name" placeholder="Your Name" />
        </div>
        <div class="form-group">
            <input type="text" name="subsc_surname" placeholder="Your Last Name" />
        </div>
        <div class="form-group">
            <input type="text" name="msisdn" placeholder="msisdn" />
        </div>
        <div class="form-group">
            <input type="text" name="tariff_id" placeholder="tariff_id" />
        </div>
        <div class="form-group">
            <input type="text" name="start_date" placeholder="Start Date" />
        </div>
        <div class="form-group form-button">
            <button type="submit" name="signup" id="signup" class="form-submit" value="Register"> Register </button>
        </div>
    </form>
    
</body>
</html>